

<% for member in @members %>
<p><%= member.first_name() %>
  <% end %>


  <form action="/gym_classes/<%= @gym_class.id %>/book_class">
    <input type="submit" value="Book someone else onto the class"/>
  </form>
