<div>
  <h1>Classes Page</h1>

<div class = "table-container">

  <table>
    <tr>
      <th>Title</th>
      <th>Duration</th>
    </tr>
    <% for gymclass in @gym_classes %>
    <tr>
      <td><%= gymclass.title %></td>
      <td><%= gymclass.duration %> mins</td>
      <td>
        <form action="/gym_classes/<%= gymclass.id%>">
          <input type="submit" value="View Class Info"/>
        </form>
      </td>
    </tr>

    <% end %>
  </table>

  </div>
  <form class="button-forms" method ="get" action="/gym_classes/new">
    <input type="submit" value="New Class"/>
  </form>


</div>
