<h1> Add a new class</h1>

<form method = "POST" action ="/gym_classes">
  <label for ="title">Title:</label>
  <input id ="title" type="text" name = "title" />
  <br />

  <label for ="description">Description:</label>
  <input id = "description" type="text" name ="description"  />
  <br />

  <label for ="teacher">Teacher:</label>
  <input id = "teacher" type="text" name ="teacher"  />
<br />

  <label for ="cost">Cost: £</label>
  <input id = "cost" type="number" name ="cost"  />
<br />

  <label for="duration">Enter duration:</label>
  <input id ="duration" type ="number" name="duration" />
<br />

<label for="class_time">Enter time:</label>
<input id ="class_time" type ="number" name="class_time" />
<br />
<label for="capacity">Enter capacity:</label>
<input id ="capacity" type ="number" name="capacity" />
<br />

  <input class = "new" type="submit" value"Submit New Class" />
  <br />

</form>
