<h1> Add a new class</h1>

<form method = "POST" action ="/gym_classes">

  <div class ="form_space">
    <label for ="title">Title:</label>
    <input class="new_form" id ="title" type="text" name = "title" />
    <br />
  </div>

  <div class ="form_space">
    <label for ="description">Description:</label>
    <input class="new_form" id = "description" type="text" name ="description"  />
    <br />
  </div>

  <div class ="form_space">
    <label for ="teacher">Teacher:</label>
    <input class="new_form" id = "teacher" type="text" name ="teacher"  />
    <br />
  </div>

  <div class ="form_space">
    <label for ="cost">Cost: £</label>
    <input class="new_form" id = "cost" type="number" name ="cost"  />
    <br />
  </div>

  <div class ="form_space">
    <label for="duration">Enter duration:</label>
    <input class="new_form" id ="duration" type ="number" name="duration" />
    <br />
  </div>

  <div class ="form_space">
    <label for="class_time">Enter time:</label>
    <input class="new_form" id ="class_time" type ="number" name="class_time" />
    <br />
  </div>

  <div class ="form_space">
    <label for="capacity">Enter capacity:</label>
    <input class="new_form" id ="capacity" type ="number" name="capacity" />
    <br />
  </div>

  <input class = "new" type="submit" value"Submit New Class" />
  <br />

</form>
