<div class="main">


  <h1 class="header">Studio Portal</h1>

  <div class="container">

    <div class="box">
      <div>
        <a href="/members">
          <figure>
            <img class ="responsive" src = "images/circuit training.jpg" alt="View Members" />
            <figcaption>
              View all members
            </figcaption>
          </figure>
        </a>
      </div>
    </div>

    <div class="box">
      <div>
        <a href="/gym_classes">
          <figure>
            <img class ="responsive" src = "images/boxing.jpg" alt="View Classes" figcaption= "View Classes"/>
            <figcaption>
              View all classes
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </div>
</div>
