<div class="main">


<h1 class="header">Studio Portal</h1>


  <div class="container">

      <div class = "box">

          <div class = "classes-image">
              <a href="/gym_classes">
                <img class ="home-image responsive" src = "images/boxing.jpg" alt="View Classes" figcaption= "View Classes"/></a>
            </div>

          <div class = "classes-button">
              <a href="/gym_classes">
                <button type="button">View Classes</button>
          </div>

        </div>



    <div class = "box">
      <div class = "members-image">
        <a href="/members">
      <img class ="home-image responsive" src = "images/circuit training.jpg" alt="View Members" /></a>
      </div>
      <div class = "members-button">
        <a href="/gym_classes">
        <button type="button">View Members</button>
      </div>
    </div>

  </div>

</div>
