<h1 class="header">Studio Portal</h1>

<div class="main-container">
  <div class="box classes">
    <div>
      <a href="/gym_classes">
    <img class ="home-image responsive" src = "images/boxing.jpg" alt="View Classes" figcaption= "View Classes"/></a>
      <!-- View Classes -->
    </div>
<a href="/gym_classes">
<button type="button">View Classes</button>
</a>
  </div>
  <div class="box members">
    <div>
      <a href="/members">
    <img class ="home-image responsive" src = "images/circuit training.jpg" alt="View Members" /></a>
      <!-- View Members -->
    </div>
    <a href="/gym_classes">
    <button type="button">View Members</button>
  </a>
  </div>
</div>
