<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeClan Gym Portal</title>
    <link rel="stylesheet" type="text/css" href="/styles/basic.css">

  </head>
  <body>
<main class="flex flex--row">
    <nav>
      <img src="/images/logo2-300x42.png" />

      <ul>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/members">Members</a>
        </li>
        <li>
          <a href="/gym_classes">Classes</a>
        </li>
        <li>
          <a href="/booking">Bookings</a>
        </li>
      </ul>
    </nav>



    <%= yield %>
  </main>

  </body>
</html>
