<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeClan Gym Portal</title>
    <link rel="stylesheet" type="text/css" href="/styles/basic.css">
    <link rel="stylesheet" type="text/css" href="/styles/index_styles.css">

  </head>
  <body>
<main>
    <nav id = "menu">
      <img src="/images/logo2-300x42.png" class = "logo"/>

      <ul>
        <li>
          <a href="/">Dashboard</a>
        </li>
        <li>
          <a href="/members">Members</a>
        </li>
        <li>
          <a href="/gym_classes">Classes</a>
        </li>
        <!-- <li>
          <a href="/booking">Bookings</a>
        </li> -->
      </ul>
    </nav>



    <%= yield %>
  </main>

  </body>
</html>
