<h1>Register a new Member to the Gym</h1>

<form method = "POST" action ="/members">
  <label for ="first_name">First Name:</label>
  <input id ="first_name" type="text" name = "first_name" />
  <label for ="last_name">Last Name:</label>
  <input id = "last_name" type="text" name ="last_name"  />
  <label for ="membership_type">Select a Membership level</label>
  <select id="membership_type" name="membership_type">
    <option value="Basic">Basic Membership</option>
    <option value="Premium">Premium Membership</option>
  </select>
  <input type="submit" value"Submit New Member" />
</form>
