<h1>All Bookings</h1>

<!-- <form class="button-forms" method ="get" action="/booking/new"> -->
<!-- <input type="submit" value="New Booking"/>
</form> -->
<div class = "table-container">
  <table>
    <tr>
      <th>Member</th>
      <th>Class</th>
    </tr>
    <% for booking in @bookings %>
    <tr>
      <td><%= booking.member.first_name %></td>
      <td><%= booking.gym_class.title %></td>
      <td>
        <form action="/booking/<%= booking.id %>/delete" method="POST">
          <input type="submit" value="delete" />
        </form>
      </td>
    </tr>

    <% end %>
  </table>
</div>
