<h1>All Bookings</h1>

<form class="button-forms" method ="get" action="/booking/new">
  <input type="submit" value="New Booking"/>
</form>

<table>

<tr>
  <th>
    Member
  </th>
  <th>
    Class
  </th>
</tr>
<% for booking in @bookings %>
<tr>
  <td>
    <%= booking.member.first_name %>
  </td>
  <td>
    <%= booking.gym_class.title %>
  </td>
</tr>
<td>
  <form action="/booking/<%= booking.id %>/delete" method="POST">
    <input class="btn btn--danger" type="submit" value="delete" />
  </form>
</td>
<% end %>
</table>
