<h1>Hello</h1>


<form action="/gym_class/:id/bookings" method="post">
  <label>
  Select a member:
    <select first_name= "member.id">
      <% @members.each do |member| %>
                <option value=<%= member.id %>><%= member.first_name %></option>
            <% end %>
    </select>
  </label>



  <input type='submit' value="Add to class">
</form>
