* {
  box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #262F38;
  color: white;
  /* color: #2ABB9C; Green colour*/
}

/* nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul{
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration:none;
  color: white;
} */

#menu
{

  width:100%;
  direction:rtl;
  font-size:1.8em;
    white-space:nowrap;

}

#menu .logo
{
  position: absolute;
display:inline-block;
  float: left;
  left: 5px;
}

#menu ul
{
  display:inline-block;
  width:60%;
  font-size:0;

  min-width:450px;
}

#menu li
{
 white-space:nowrap;
 padding:10px 0;
 display:inline-block;
 width:20%;
 font-size:30px;

}
#menu li a
{
  transition:all 0.3s;
  padding-bottom:8px;
  cursor:pointer;
  color: white;
  text-decoration: none;
}

#menu li a:hover
{
  color:#2ABB9C;

}
