* {
  box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  background-color: #262F38;
  color: white;
  /* color: #2ABB9C; Green colour*/
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul{
  list-style: none;
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration:none;
  color: white;
}
