#new_booking{
	float:none;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
}

.show_member_btn{
  margin: 5px;
 padding: 15px 32px;
 display: inline-flex;
}

.new{
  margin-top: 50px;
}

input{
  display: inline;
  width: 250px;
  background-color:#2ABB9C;
  color: #262F38
}

.show_member_input{
	width: 100px;
	justify-content: space-around;

}

.show_member_form{
	margin: 10px;
}

.new_form{
	background-color: white;
}


form{
	margin: 0.5em;
	padding-bottom: 0.5em;
}

.form_space{
	margin-bottom:  0.5em;
}
