* {
  box-sizing: border-box;
}

body{
  background-color: #262F38;
  color: white;
  padding: 0px;
  margin: 0px;
}


h1{
  color: #2ABB9C;
  text-align:center;
  text-shadow: 5px 5px black;
  font-size: 5em;
}

#show-page{
  text-align:left;
}



#view_members {
  display: block;
  width: 200px;
  height: 200px;
  background-image: url("/images/circuit training.jpg");
  background-repeat: no-repeat;
  padding: 50px;

}

#view_classes {

  background-image: url('images/boxing.jpg');

}
.image_link {
  background-color: #000;
  color: #fff;
}
